<% try { if (selectedPage) {} }
catch { selectedPage = "" } %>

<% const pages = [
    { name: "Home", href: "/" },
    { name: "Squadrons", href: "/squadrons" },
    { name: "Missions", href: "/missions" },
    { name: "Resources", href: "/resources" },
    { name: "DCS Modules", href: "/modules" }
]

if (loginInfo && loginInfo.admin) pages.push({ name: "Admin", href: "/admin" },) %>

<div class="bg"></div>
<header>
    <div id="header-logo">
        <img src="/assets/logo.png" />
        <h1>VPAC</h1>
    </div>
    <ul>
        <% pages.forEach(page => { %>
            <% if (selectedPage == page.href) { %>
                <li><a href="<%= page.href %>" style="color: rgb(255, 255, 255); border-bottom: 1px solid white;"><%= page.name %></a></li>
            <% } else { %>
                <li><a href="<%= page.href %>"><%= page.name %></a></li>
            <% } %>
        <% }) %>
        
    </ul>
    <div id="header-login">
        <% try {
            if (loginInfo) { %>
                <div id="header-login-user">
                    <span><%= loginInfo.name %></span>
                    <img src="<%= loginInfo.avatar %>" />
                </div>
                <div id="header-login-modal" class="modal">
                    <div>
                        <span>Signed in as <%= loginInfo.name %></span>
                        <img src="<%= loginInfo.avatar %>" />
                    </div>
                    <a href="/logout" id="logout-button">Sign Out</a>
                </div>
            <% } else { %>
                <a href="/login" id="login-button">Sign In</a>
            <% }
        } catch { %>
            <a href="/login" id="login-button">Login</a>
        <% } %>
    </div>
</header>

<div id="loading-container">
    <img src="/assets/loading.svg" />
</div>

<% if (false) { // FINISH THIS LATER? %>
<div class="modal-container">
    <div id="login-modal">
        <h6>LOGIN</h2>
        <label for="key">Your Secret Key</label>
        <input type="password" name="key" id="key" />
        <div id="remember-label">
            <input type="checkbox" name="remember" id="remember" />
            <label for="remember">Remember Me</label>
        </div>
        <button id="login-button">LOGIN</button>
    </div>
</div>
<% } %>