<% if (user.data.status) {
    if (group) { %>
        <div class="user user-<%= user.id %>" data-group="<%= group %>" data-active>
    <% } else { %>
        <div class="user user-<%= user.id %>" data-active>
    <% } %>
<% } else {
    if (group) { %>
        <div class="user user-<%= user.id %>" data-group="<%= group %>">
    <% } else { %>
        <div class="user user-<%= user.id %>">
    <% } %>
<% } %>
    <div class="user-name">
        <img src="<%= user.avatar %>" />
        <p><%= user.nickname %></p>
    </div>
    <% if (user.data.status == "MENU") { %>
        <div class="user-status" data-status="MENU" data-tooltip="In the Menus">IN MENU</div>
    <% } else if (user.data.status == "LOADING") { %>
        <div class="user-status" data-status="LOADING" data-tooltip="Loading into Mission">JOINING</div>
    <% } else if (user.data.status == "MISSION") {
        let info = "Singleplayer"
        if (user.data.multiplayer != "0") info = "Multiplayer"
        info += `\n${user.data.map}\n${dcs.parseLong(user.data.aircraft)}` %>
        <div class="user-status" data-status="FLYING" data-tooltip="<%= info %>">FLYING</div>
    <% } %>
</div>