<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "Admin Panel" }) %>
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/checkride.css" />
    <script src="/js/admin.js"></script>
</head>
<body>
    <%- include("partials/header", { selectedPage: "/admin" }) %>
    <p id="popup-updated">Your changes have been submitted.</p>
    <section id="main-section-container">
        <ul id="main-section-list">
            <li data-section="squadrons">Squadrons</li>
            <li data-section="missions">Missions</li>
            <li data-section="resources">Resources</li>
            <li data-section="briefings">Briefings</li>
            <li data-section="developers">DCS Modules</li>
        </ul>

        <!-- Squadrons section -->
        <section id="section-squadrons" style="display: none;" data-is-section>
            <div id="select-squadrons" class="select-list">
                <h4>All Squadrons</h4>
                <ul>
                    <% squadrons.forEach((squadron, index) => { %>
                        <li data-squadrons="<%= index %>"><%= squadron.squadron.name %></li>
                    <% }) %>
                </ul>
            </div>
            <% squadrons.forEach((squadron, index) => { %>
                <div class="squadron-container" data-squadrons-sec="<%= index %>">
                    <h4><%= squadron.squadron.name %></h4>
                    <p>Note: Squadron name and members are tied to the Discord role ID: <%= squadron.squadron.id %></p>
                    <form action="/squadron_update" method="POST" class="options-text">
                        <input type="hidden" value="<%= squadron.squadron.abbreviation %>" name="squadron">
                        <label for="squadron-<%= squadron.squadron.abbreviation %>-description">Squadron Description</label>
                        <textarea id="squadron-<%= squadron.squadron.abbreviation %>-description" name="squadronDescription" required><%= squadron.squadron.description %></textarea>
                        <label for="squadron-<%= squadron.squadron.abbreviation %>-callsigns">Squadron Callsigns</label>
                        <input type="text" value="<%= squadron.squadron.callsigns %>" id="squadron-<%= squadron.squadron.abbreviation %>-callsigns" name="squadronCallsigns" required>
                        <label for="squadron-<%= squadron.squadron.abbreviation %>-airframes">Squadron Airframes</label>
                        <input type="text" value="<%= squadron.squadron.airframes %>" id="squadron-<%= squadron.squadron.abbreviation %>-airframes" name="squadronAirframes" required>
                        <label for="squadron-<%= squadron.squadron.abbreviation %>-checkride">Checkride Info</label>
                        <div class="checkride-container">
                            <textarea id="squadron-<%= squadron.squadron.abbreviation %>-checkride" name="squadronCheckride" required><%= squadron.squadron.checkride %></textarea>
                            <div id="squadron-<%= squadron.squadron.abbreviation %>-checkride-preview" class="checkride-preview checkride"></div>
                        </div>
                        <input type="hidden" value="<%= index %>" name="index">
                        <button type="submit">Update</button>
                    </form>
                </div>
            <% })
            if (squadrons.length > 0) { %>
                <script>openList("squadrons", 0)</script>
            <% } %>
        </section>

        <!-- Missions section -->
        <section id="section-missions" style="display: none;" data-is-section>
            <% const missionList = []
            missions.forEach(mission => { missionList.unshift(mission) })
            missions = missionList %>
            <div id="select-missions" class="select-list">
                <h4>All Missions</h4>
                <ul>
                    <% missions.forEach((mission, index) => { %>
                        <li data-missions="<%= index %>"><%= mission.name.replace(/_/g, " ") %></li>
                    <% }) %>
                </ul>
            </div>
            <% missions.forEach((mission, index) => { %>
                <div class="mission-container" data-missions-sec="<%= index %>">
                    <h4><%= mission.name.replace(/_/g, " ") %></h4>
                    <form action="/mission_update" method="POST" class="options-text">
                        <input type="hidden" value="<%= mission.name %>" name="mission">
                        <label for="mission-<%= mission.name %>-name">Mission Name</label>
                        <input type="text" value="<%= mission.name.replace(/_/g, " ") %>" id="mission-<%= mission.name %>-name" name="missionName" required>
                        <input type="hidden" value="<%= index %>" name="index">
                        <button type="submit">Update</button>
                    </form>
                    <form action="/mission_delete" method="POST" class="options-delete">
                        <input type="hidden" value="<%= mission.name %>" name="mission">
                        <input type="hidden" value="<%= index %>" name="index">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            <% })
            if (missions.length > 0) { %>
                <script>openList("missions", 0)</script>
            <% } %>
        </section>

        <!-- Resources section -->
        <section id="section-resources" style="display: none;" data-is-section>
            <% const resourceList = []
            resources.forEach(resource => { resourceList.unshift(resource) })
            resources = resourceList %>
            <div id="select-resources" class="select-list">
                <h4>All Resources</h4>
                <ul>
                    <% resources.forEach((resource, index) => { %>
                        <li data-resources="<%= index %>"><%= resource.name %></li>
                    <% }) %>
                </ul>
                <button class="create-new">+ Create Resource</button>
            </div>
            <div class="resource-container" data-resources-sec="create-new">
                <h4>Create New Resource</h4>
                <form action="/resource_create" method="POST" class="options-text">
                    <label for="resource-createnew-name">Resource Name</label>
                    <input type="text" value="" id="resource-createnew-name" name="resourceName" required>
                    <button type="submit">Update</button>
                </form>
            </div>
            <% resources.forEach((resource, index) => { %>
                <div class="resource-container" data-resources-sec="<%= index %>">
                    <h4><%= resource.name %></h4>
                    <form action="/resource_update" method="POST" class="options-text">
                        <input type="hidden" value="<%= resource.name %>" name="resource">
                        <input type="hidden" value="<%= index %>" name="index">
                        <button type="submit">Update</button>
                    </form>
                    <form action="/resource_delete" method="POST" class="options-delete">
                        <input type="hidden" value="<%= resource.name %>" name="resource">
                        <input type="hidden" value="<%= index %>" name="index">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            <% })
            if (resources.length > 0) { %>
                <script>openList("resources", 0)</script>
            <% } %>


        </section>

        <!-- Briefings section -->
        <section id="section-briefings" style="display: none;" data-is-section>
            <% const briefingList = []
            briefings.forEach(briefing => { briefingList.unshift(briefing) })
            briefings = briefingList %>
            <div id="select-briefings" class="select-list">
                <h4>All Briefings</h4>
                <ul>
                    <% briefings.forEach((briefing, index) => { %>
                        <li data-briefings="<%= index %>">
                            <% if (briefing.public == "true") { %>
                                <div class="public-true"></div>
                            <% } else { %>
                                <div class="public-false"></div>
                            <% } %>
                            <%= briefing.name.replace(/_/g, " ") %>
                        </li>
                    <% }) %>
                </ul>
                <button class="create-new">+ Create Briefing</button>
            </div>
            <div class="briefing-container" data-briefings-sec="create-new">
                <h4>Create New Briefing</h4>
                <form action="/briefing_create" method="POST" class="options-text">
                    <label for="briefing-createnew-name">Briefing Name</label>
                    <input type="text" value="" id="briefing-createnew-name" name="briefingName" required>
                    <label for="briefing-createnew-clone">Clone (Optional)</label>
                    <select id="briefing-createnew-clone" name="briefingClone">
                        <option value="None">No briefing selected</option>
                        <% briefings.forEach(briefing => { %>
                            <option value="<%= briefing.id %>"><%= briefing.name.replace(/_/g, " ") %></option>
                        <% }) %>
                    </select>
                    <button type="submit">Create</button>
                </form>
            </div>
            <% briefings.forEach((briefing, index) => { %>
                <div class="briefing-container" data-briefings-sec="<%= index %>">
                    <h4><%= briefing.name.replace(/_/g, " ") %></h4>
                    <p>Briefing is Public: <%= briefing.public.toUpperCase() %></p>
                    <a href="/briefing-editor/<%= briefing.id %>" class="options-open">Open Editor</a>
                    <form action="/briefing_delete" method="POST" class="options-delete">
                        <input type="hidden" value="<%= briefing.id %>" name="briefing">
                        <input type="hidden" value="<%= index %>" name="index">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            <% })
            if (briefings.length > 0) { %>
                <script>openList("briefings", 0)</script>
            <% } %>

            
        </section>

        <!-- DCS Modules section -->
        <section id="section-developers" style="display: none;" data-is-section>
            <% const developerList = []
            developers.forEach(developer => { developerList.push(developer) })
            developers = developerList %>
            <div id="select-developers" class="select-list">
                <h4>DCS Developers</h4>
                <ul>
                    <% developers.forEach((developer, index) => { %>
                        <li data-developers="<%= index %>"><%= developer.name %></li>
                    <% }) %>
                </ul>
                <button class="create-new">+ Add Developer</button>
            </div>
            <div class="developer-container" data-developers-sec="create-new">
                <h4>Add new Developer</h4>
                <form action="/developer_create" method="POST" class="options-text">
                    <label for="developer-createnew-name">Developer Name</label>
                    <input type="text" value="" id="developer-createnew-name" name="developerName" required>
                    <button type="submit">Create</button>
                </form>
            </div>
            <% developers.forEach((developer, index) => { %>
                <div class="developer-container" data-developers-sec="<%= index %>">
                    <h4><%= developer.name %></h4>
                    <form action="/developer_update" method="POST" class="options-text">
                        <input type="hidden" value="<%= developer.name %>" name="developer">
                        <label for="developer-<%= index %>-name">Developer Name</label>
                        <input type="text" value="<%= developer.name %>" id="developer-<%= index %>-name" name="developerName" required>
                        <label for="developer-<%= index %>-image">Image URL</label>
                        <input type="text" value="<%= developer.image %>" id="developer-<%= index %>-image" name="developerImage" required>
                        <label for="developer-<%= index %>-color">Header Color</label>
                        <input type="color" value="<%= developer.color %>" id="developer-<%= index %>-color" name="developerColor" required>
                        <label for="developer-<%= index %>-modules">Modules</label>
                        <textarea id="developer-<%= index %>-modules" name="developerModules" required><%= developer.modules %></textarea>
                        <p class="note">Type, Module Name, Status, Link<br />Types: A = Aircraft, M = Map, O = Other</p>
                        <input type="hidden" value="<%= index %>" name="index">
                        <button type="submit">Update</button>
                    </form>
                    <form action="/developer_delete" method="POST" class="options-delete">
                        <input type="hidden" value="<%= developer.name %>" name="developer">
                        <input type="hidden" value="<%= index %>" name="index">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            <% })
            if (developers.length > 0) { %>
                <script>openList("developers", 0)</script>
            <% } %>

            
        </section>
    </section>

    <%- include("partials/footer") %>
</body>
</html>