<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "Briefing Editor" }) %>
    <link rel="stylesheet" href="/css/briefingEditor.css" />
    <script src="/js/briefingEditor.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbJoQnM07KZu2NiFwba16dy_3SfR1hFa8&libraries=geometry&callback=initMap" async></script>
</head>
<body>
    <%- include("partials/header", { selectedPage: "" }) %>
    
    <script>
        const briefing = JSON.parse('<%- JSON.stringify(info) %>')
    </script>

    <section id="editor-container">
        <div id="header">
            <div>
                <label for="briefing-name">Mission/Briefing Name</label>
                <input type="text" value="<%= info.name %>" id="briefing-name" name="briefingName">
            </div>
            <div>
                <p>Upload .miz File</p>
                <input type="file" onchange="uploadMiz(files)">
            </div>
        </div>
        
        <div id="elements"></div>

        <button id="new-element-button">+ New Element</button>
    </section>

    <div id="map" style="display: none;"></div>

    <div id="new-element-overlay" class="modal">
        <div id="new-element-modal">
            <h1>Add New Element</h1>
            // Create left sidebar with element bullets selector
            // Right side is options.
        </div>
    </div>

    <div id="upload-failed" class="error-modal-overlay modal">
        <div class="error-modal">
            <h1>.miz File Error</h1>
            <p>There was an error processing your .miz file. Make sure you are uploading a valid .miz file. If the error persists, contact the developer.</p>
            <button>Close</button>
        </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>