<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "Database Panel" }) %>
    <link rel="stylesheet" href="/css/database.css" />
</head>
<body>
    <%- include("partials/header") %>

    <% for(let i = 0; i < users.length; i++) {
        guild.members.forEach(member => {
            if (member.id != users[i].id) return
            users[i].name = member.nickname
        })
    } %>
    <section id="main-section-container">
        <table id="users-table" cellspacing="0">
            <tr>
                <th>Discord Name</th>
                <th>Discord ID</th>
                <th>DCS UCID</th>
                <th>Key</th>
                <th>Data</th>
            </tr>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.id %></td>
                    <td><%= user.ucid %></td>
                    <td><%= user.key %></td>
                    <td><%= user.data %></td>
                </tr>
            <% }) %>
        </table>
    </section>

    <%- include("partials/footer") %>
</body>
</html>