<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "Gallery" }) %>
    <link rel="stylesheet" href="/css/gallery.css" />
    <script src="/js/gallery.js"></script>
</head>
<body>
    <%- include("partials/header", { selectedPage: "/gallery" }) %>
    <h2>IMAGE GALLERY</h2>
    <section id="main-gallery-container">
        <% let shuffled = images
            .map(value => ({ value, sort: Math.random() }))
            .sort((a, b) => a.sort - b.sort)
            .map(({ value }) => value)

        let count = 0
        shuffled.forEach(image => {
            count++ 
            if (count > 90) return // Max amount of images. %>
            <img class="gallery-image" src="<%- image %>" alt="Gallery image">
            <div class="gallery-modal modal" data-image="<%- image %>">
                <img src="<%- image %>" alt="Gallery image">
            </div>
        <% }) %>
    </section>

    <%- include("partials/footer") %>
</body>
</html>