<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "Missions" }) %>
    <link rel="stylesheet" href="/css/missions.css" />
</head>
<body>
    <%- include("partials/header", { selectedPage: "/missions" }) %>
    <h2>VPAC MISSIONS</h2>
    <section id="main-missions-container">
        <section id="missions-container">
            <% let missionOrder = []
            let takeoffs = 0
            let landings = 0
            let crashes = 0
            let aakills = 0
            let agkills = 0
            missions.forEach(mission => {
                missionOrder.unshift(mission)
                takeoffs += mission.takeoffs
                landings += mission.landings
                crashes += mission.crashes
                aakills += mission.aakills
                agkills += mission.agkills
            })
            const takeoffLandingRatio = landings / takeoffs
            const aircraftKillRatio = aakills / crashes
            const groundKillRatio = agkills / crashes
            // console.log(missions)
            let firstBriefing = true
            briefings.forEach(briefing => {
                if (briefing.public != "true") return
                let mission = missionOrder.find(e => e.name == briefing.name)
                if (mission) return
                if (firstBriefing) { 
                    firstBriefing = false %>
                    <h3>UPCOMING MISSION BRIEFINGS</h3>
                <% } %>
                <a class="mission briefing" href="/mission/<%= briefing.name %>">
                    <div class="left">
                        <img class="icon" src="/assets/SU25-red.png" />
                        <div class="left-sub">
                            <h4 class="name"><%= briefing.name.replace(/_/g, " ") %></h4>
                            <p class="note">Briefing is now available.</p>
                        </div>
                    </div>
                    <div class="right">
                        <p class="date">UPCOMING</p>
                        <p class="stats">View Briefing</p>
                    </div>
                </a>
            <% })
            let index = 0
            missionOrder.forEach(mission => {
                if (mission.players.length <= 1) return
                index++
                if (index == 1) { %>
                    <h3>MOST RECENT MISSION</h3>
                <% }
                else if (index == 2) { %>
                    <h3>PREVIOUS MISSIONS (<%= missionOrder.length - 1 %>)</h3>
                <% } %>
                <a class="mission" href="/mission/<%= mission.name %>">
                    <div class="left">
                        <img class="icon" src="/assets/radar-icon-red.png" />
                        <div class="left-sub">
                            <h4 class="name"><%= mission.name.replace(/_/g, " ") %></h4>
                            <ul>
                                <li class="bubble">
                                    <img src="/assets/FA18-blue.png" />
                                    <p><%= mission.players.length %> Participants</p>
                                </li>
                                <li class="bubble">
                                    <img src="/assets/MIG23-red.png" />
                                    <p><%= mission.aakills %> A/A Kills</p>
                                </li>
                                <li class="bubble">
                                    <img src="/assets/motorized-sam-icon-red.png" />
                                    <p><%= mission.agkills %> A/G Kills</p>
                                </li>
                                <li class="brief">
                                    <% let brief = false
                                    briefings.forEach(briefing => {
                                        if (briefing.name != mission.name) return
                                        brief = briefing
                                    })
                                    if (brief && brief.public == "true") { %>
                                        <p class="brief-true">&bull; Briefing Attached</p>
                                    <% } else { %>
                                        <p>&bull; No Briefing</p>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <p class="date"><%= mission.date %></p>
                        <p class="stats">View Full Stats</p>
                    </div>
                </a>
            <% }) %>
        </section>
        <section id="about-container">
            <h3>ABOUT MISSIONS</h3>
            <div class="about">
                <p>VPAC currently runs campaign missions every Friday and Saturday night. One-off missions may also be hosted during week days at the discretion of squadron leaders. Each mission lasts 2-3 hours and starts with a 20-30 minute briefing.<br /><br />To see accurate mission times and to RSVP, please see the <span>#mission-announcements</span> channel on Discord.</p>
            </div>
            <h3>GLOBAL MISSION STATS</h3>
            <div class="all-stats">
                <ul>
                    <li>
                        <div class="label">
                            <img class="rotate" src="/assets/F15-blue.png" />
                            <p>Return to Base Rate</p>
                        </div>
                        <p class="value"><%= (takeoffLandingRatio * 100).toFixed(0) %>%</p>
                    </li>
                    <li>
                        <div class="label">
                            <img src="/assets/takeoff.png" />
                            <p>Total Takeoffs</p>
                        </div>
                        <p class="value"><%= takeoffs.toLocaleString("en-US") %></p>
                    </li>
                    <li>
                        <div class="label">
                            <img src="/assets/landing.png" />
                            <p>Total Landings</p>
                        </div>
                        <p class="value"><%= landings.toLocaleString("en-US") %></p>
                    </li>
                    <li>
                        <div class="label">
                            <img src="/assets/MIG23-red.png" />
                            <p>Total Aircraft Kills</p>
                        </div>
                        <p class="value"><%= aakills.toLocaleString("en-US") %></p>
                    </li>
                    <li>
                        <div class="label">
                            <img class="shrink" src="/assets/motorized-sam-icon-red.png" />
                            <p>Total Ground Kills</p>
                        </div>
                        <p class="value"><%= agkills.toLocaleString("en-US") %></p>
                    </li>
                </ul>
            </div>
        </section>
    </section>

    <%- include("partials/footer") %>
</body>
</html>