<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head", { title: "DCS Modules List", desc: "A list of all current and future DCS modules and their development status." }) %>
    <link rel="stylesheet" href="/css/modules.css" />
</head>
<body>
    <%- include("partials/header", { selectedPage: "/modules" }) %>
    <h2>DCS MODULES</h2>
    <h4 class="description">This list of current and future DCS modules are maintained by VPAC admins, and any corrections can be directed to our Discord.</h4>
    <section id="main-developers-container">
        <% developers.forEach(developer => {
            let aircraft = []
            let maps = []
            let misc = []
            const modules = developer.modules.split("\r\n")
            modules.forEach(module => {
                const args = module.split(", ")
                if (args[0] == "A") aircraft.push(module)
                else if (args[0] == "M") maps.push(module)
                else misc.push(module)
            }) %>
            <section class="developer-container">
                <% const color = `style="background-color: ${developer.color};"` %>
                <div class="header" <%- color %>>
                    <img src="<%= developer.image %>" />
                    <h3><%= developer.name %></h3>
                </div>
                <div class="body">
                    <% if (aircraft.length > 0) { %> <h4>AIRCRAFT (<%= aircraft.length %>):</h4> <% } %>
                    <table cellspacing="0">
                        <% aircraft.forEach(module => {
                            const args = module.split(", ")
                            let href = ""
                            if (args[3]) href = ` href="${args[3]}" target="_blank" class="source"` %>
                            <tr class="module <%= args[2].split(" ")[0] %>">
                                <td class="name"><%= args[1] %></td>
                                <td class="status"><a<%- href %>><%= args[2] %></a></td>
                            </tr>
                        <% }) %>
                    </table>

                    <% if (maps.length > 0) { %> <h4>MAPS (<%= maps.length %>):</h4> <% } %>
                    <table cellspacing="0">
                        <% maps.forEach(module => {
                            const args = module.split(", ")
                            let href = ""
                            if (args[3]) href = ` href="${args[3]}" target="_blank" class="source"` %>
                            <tr class="module <%= args[2].split(" ")[0] %>">
                                <td class="name"><%= args[1] %></td>
                                <td class="status"><a<%- href %>><%= args[2] %></a></td>
                            </tr>
                        <% }) %>
                    </table>

                    <% if (misc.length > 0) { %> <h4>MISC (<%= misc.length %>):</h4> <% } %>
                    <table cellspacing="0">
                        <% misc.forEach(module => {
                            const args = module.split(", ")
                            let href = ""
                            if (args[3]) href = ` href="${args[3]}" target="_blank" class="source"` %>
                            <tr class="module <%= args[2].split(" ")[0] %>">
                                <td class="name"><%= args[1] %></td>
                                <td class="status"><a<%- href %>><%= args[2] %></a></td>
                            </tr>
                        <% }) %>
                    </table>
                </div>
            </section>
        <% }) %>
    </section>

    <%- include("partials/footer") %>
</body>
</html>